/* .columns {
  width: 50%;
  float: left;
}
.re-sizer {
  float: right;
  width: 50%;
  height: auto;
  max-width: 100px;
}*/

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.sidebar {
  float: left;
  width: 50%;
}

.border {
  border: 3px solid red;
  padding: 5px;
  margin: 5px;
}
